<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .user_wrapper {
            font-size: 16px;
            background-color: #85e8b4;
            padding: 30px 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="user_wrapper">
       <p>{{user.id}}<b>Name - {{user.name}} {{user.surname}}</b></p>
        <p>Email - {{user.email}} {{user.email}}</p>
        <p>Password - {{user.password}}</p>
        <p>Age - {{user.age}}</p>
        <p>City - {{user.city}}</p>
        <form action="/users/{{user.id}}" method="post">
            <button>Delete user</button>
        </form>
    </div>
</body>
</html>